:root {
	--white: white;
	--black: black;
	--primary: #23651C;
	--secondary: #f0f0f0;
	--margin: 5vw;
}

body {
	font-family: "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Meiryo, sans-serif;
	font-feature-settings: "palt" 1;
	letter-spacing: .8px;
	display: block;
	font-size: 17px;
	margin: 0;
	padding: 0;
	color: var(--black);
	background-color: var(--white);
	position: relative;
}

h2, h3 {
	position: relative;
	font-size: 190%;
}

.button {
	display: block;
	color: var(--white);
	background-color: var(--black);
	padding: 18px 36px 18px 36px;
	line-height: 18px;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s;
}

.button:hover {
	background-color: var(--primary);
}

#header {
	position: relative;
	height: 80px;
	background: white;
	border-bottom: 5px solid gray;
}

#website-header {
	width: 100%;
	min-height: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

#website-header-inner {
	margin: var(--margin);
}

section {
	width: calc(100% - 18px * 2);
	max-width: 800px;
	margin: 80px auto 80px auto;
}

#nav {
	margin: calc(var(--margin) / 2);
}

#menu-grid {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-columns: 1fr;
	grid-gap: calc(var(--margin) / 2);
	justify-content: center
}

#nav-header {
	grid-column: 1/-1;
	text-align: center;
	list-style: none;
}

.nav-item {
	display: block;
	width: 100%;
	background-color: var(--primary);
	position: relative;
	list-style: none;
}


.nav-item>* {
	text-decoration: none;
}

.nav-item::before {
	content: "";
	display: block;
	padding-top: 100%;
}

.nav-item>a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-inner {
	width: 90%;
	height: 90%;
	margin: auto;
	color: var(--white);
	font-weight: bold;
}

.sec-header>h2 {
	border-bottom: 3px solid var(--primary);
}